[submodule "cqrs-eventsourcing-springboot-axon"]
	path = cqrs-eventsourcing-springboot-axon
	url = https://github.com/DatMV01/cqrs-eventsourcing-springboot-axon.git

[submodule "8289_java_microservices_cqrs_eventsourcing_kafka"]
	path = 8289_java_microservices_cqrs_eventsourcing_kafka
	url = https://github.com/DatMV01/8289_java_microservices_cqrs_eventsourcing_kafka.git
[submodule "8080-microservices-cleanarchitecture-ddd-saga-outboxkafka"]
	path = 8080-microservices-cleanarchitecture-ddd-saga-outboxkafka
	url = https://github.com/DatMV01/8080-microservices-cleanarchitecture-ddd-saga-outboxkafka.git
[submodule "5931-large-scale-state-management-course-in-react-next-js"]
	path = 5931-large-scale-state-management-course-in-react-next-js
	url = https://github.com/DatMV01/5931-large-scale-state-management-course-in-react-next-js.git
[submodule "8513-next-amazona-v1"]
	path = 8513-next-amazona-v1
	url = https://github.com/DatMV01/8513-next-amazona-v1.git
[submodule "8513-next-amazona-v2"]
	path = 8513-next-amazona-v2
	url = https://github.com/DatMV01/8513-next-amazona-v2.git
[submodule "8513-next-amazona-v3"]
	path = 8513-next-amazona-v3
	url = https://github.com/DatMV01/8513-next-amazona-v3.git
[submodule "7136-khoa-hoc-full-stack-development-voi-next-js-13"]
	path = 7136-khoa-hoc-full-stack-development-voi-next-js-13
	url = https://github.com/DatMV01/7136-khoa-hoc-full-stack-development-voi-next-js-13.git
